@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 0rem 12rem;
}

/* Hamburger Icon */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: hsl(233, 8%, 62%);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 100px 200px 0 rgba(0, 0, 0, 0.2),
    0 100px 200px 0 rgba(0, 0, 0, 0.19);
}

.mobile-menu {
  display: none;
  position: absolute;
  padding: 0;
  top: 5em;
  left: 1.1em;
  right: 1.1em;
  margin: 0 auto;
  height: 39.5vh;
  width: 85vw;
  border-radius: 10px;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* Hamburger Code Ends  */

#logo {
  padding: 2rem 0rem;
  height: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin: 0rem;
}

nav ul li a {
  padding: 2.2rem 1.2rem;
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

nav ul li a:hover {
  border-image: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
    1;
  border-width: 0.3rem;
  border-style: solid;
  border-right: 0rem;
  border-left: 0rem;
  border-top: 0rem;
  color: hsl(233, 26%, 24%);
}

.requestButton {
  margin: 1.5rem 0rem;
  height: 3rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border-style: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.requestButton:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#ultimate-container {
  overflow: hidden;
}

.container1 {
  background-image: url("./images/bg-intro-desktop.svg");
  background-position: 70rem -10rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 36.8rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0rem 12rem;
}

.introduction {
  align-self: center;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#bgDesktop {
  height: 57rem;
  align-self: flex-end;
  position: relative;
  right: -19.6rem;
  bottom: -13rem;
}

.introduction h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.introduction p {
  margin: 1rem 0rem 2rem 0rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

.introduction .requestButton {
  margin: 0rem;
}

.container2 {
  padding: 8rem 12rem 4rem 12rem;
  background-color: hsl(220, 16%, 96%);
  margin: auto;
}

.whyChoose {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
  width: 38rem;
  margin-bottom: 1rem;
}

.whyChoose h4 {
  font-size: 3rem;
  padding-bottom: 2rem;
  color: hsl(233, 26%, 24%);
}

.reasonsDiv {
  display: flex;
  justify-content: center;
}

.reasons {
  margin: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: hsl(233, 8%, 62%);
}

.reasons h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: hsl(233, 26%, 24%);
}

.reasons img {
  padding: 2rem 0rem;
  width: 5rem;
}

.container3 {
  padding: 7rem 12rem;
  height: 40rem;
  background-color: hsl(0, 0%, 98%);
  margin: auto;
}

.container3 h4 {
  font-size: 3rem;
  color: hsl(233, 26%, 24%);
  margin-bottom: 5rem;
}

.allArticles {
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* flex-wrap: wrap; */
}

.article {
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 4rem hsl(0, 0%, 98%);
  width: 20rem;
}

.article img {
  width: 20rem;
  height: 15rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 1rem;
}

.content {
  padding: 2rem;
}

.writer {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  color: hsl(233, 8%, 62%);
}

.headLine {
  margin-bottom: 1rem;
}

.headLine a {
  font-size: 1.4rem;
  text-decoration: none;
  color: hsl(233, 26%, 24%);
}

.headLine a:hover {
  color: hsl(136, 65%, 51%);
}

.content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(233, 8%, 62%);
}

footer {
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 12rem;
  background-color: hsl(233, 26%, 24%);
  color: white;
}

footer li {
  margin: 1rem;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer li a:hover {
  color: hsl(136, 65%, 51%);
}

#logoFooter {
  height: 1.4rem;
}

#socialMedia {
  margin-top: 3rem;
  display: flex;
}

#socialMedia img {
  margin-right: 0.8rem;
}

#socialMedia img:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

#lastDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#lastDiv .requestButton {
  margin-right: 0rem;
  margin-bottom: 2rem;
}

#lastDiv .requestButton:hover {
  filter: brightness(1.7);
}

@media screen and (max-width: 1100px) {
  nav,
  footer,
  .container1,
  .container2,
  .container3 {
    padding: 2%;
  }
  nav {
    height: 0.1%;
  }
  nav #hamburger-icon {
    display: block;
  }

  nav ul li a:hover {
    border: unset;
  }

  nav ul {
    display: none;
  }

  nav .requestButton {
    display: none;
  }

  /* #logo {
    width: 100;
  } */

  .container1 {
    flex-direction: column-reverse;
    height: fit-content;
    background-image: unset;
    background-image: url("./images/bg-intro-mobile.svg");
    background-position: 40% 0%;
    background-attachment: local;
  }

  #bgDesktop {
    width: 95%;
    align-self: flex-end;
    position: relative;
    right: 0;
    left: 0;
    top: -8rem;
    margin: auto;
    height: 60%;
  }

  .introduction {
    align-items: center;
    margin-bottom: 5rem;
    width: 95%;
  }

  .introduction h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .introduction .requestButton {
    margin: auto;
  }

  .whyChoose {
    margin: auto;
    width: 95%;
    margin-top: 7%;
    line-height: 4rem;
    text-align: center;
  }

  .reasonsDiv {
    flex-direction: column;
  }

  .container3 {
    height: fit-content;
    text-align: center;
  }

  .allArticles {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .article {
    width: 100%;
    margin-bottom: 2rem;
  }

  .article img {
    /* width: 150%; */
    width: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 0%;
  }

  .reasons {
    align-items: center;
    text-align: center;
  }

  #logoFooter {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  footer {
    flex-direction: column;
    height: fit-content;
    text-align: center;
    padding-bottom: 3rem;
  }

  #lastDiv .requestButton {
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .container3 {
    /* padding: unset; */
    width: fit-content;
    height: fit-content;
    /* padding: 10%; */
  }

  .allArticles {
    margin: auto;
    width: fit-content;
    flex-wrap: wrap;
  }

  .article {
    width: fit-content;
    padding-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}
